
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Film Portalı - Giriş</title>
    <link rel="stylesheet" href="~/Sources/login/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="contact-form">
            <img src="~/Sources/login/adminic.png" class="loginImg" />
            <h2>Film Portalı</h2>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                <div class="txtArea">
                    <input type="text" name="AdminUsername" class="txtBox" required />
                    <label>Kullanıcı Adı</label>
                </div>
                <div class="txtArea">
                    <input type="password" name="AdminPassword" class="txtBox" required />
                    <label>Şifre</label>
                </div>
                <input type="submit" class="logBtn" value="Giriş Yap" />
            }
        </div>
    </div>
</body>
</html>
